<h2>个人网站生态</h2>

<div class="alert alert-primary">
  本页面不保证能做到定时更新，但会尽最大可能完成更新。本页末次更新日期：2026年7月24日。
</div>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>域名</th>
      <th>用途</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-secondary">
      <td>mcenahle.com</td>
      <td>个人品牌保留，保留以供后期使用</td>
    </tr>
    <tr class="table-danger">
      <td>mcenahle.cn</td>
      <td>早期用于备案合规目的，现正逐步暂停更新</td>
    </tr>
    <tr class="table-danger">
      <td>mcenahle.org.cn</td>
      <td>早期用于备案合规目的，现正逐步暂停更新</td>
    </tr>
    <tr class="table-secondary">
      <td>mcenahle.sh.cn</td>
      <td>暂停更新，保留以供后期使用</td>
    </tr>
    <tr class="table-primary">
      <td>mcenahle.page</td>
      <td
        >主力开发力量，用于 <a href="https://hi.mcenahle.page" target="_blank"
          ><u>个人门户</u>&nbsp;<span class="mdi--external-link"></span></a
        >、<a href="https://mail.mcenahle.page" target="_blank"
          ><u>webmail</u>&nbsp;<span class="mdi--external-link"></span></a
        >、<a href="https://blog.mcenahle.page" target="_blank"
          ><u>博客网站</u>&nbsp;<span class="mdi--external-link"></span></a
        > 及其他个人项目</td
      >
    </tr>
    <tr class="table-success">
      <td>mcenahle.dev</td>
      <td>用于展示个人开发项目、技术探索与开发记录</td>
    </tr>
    <tr class="table-info">
      <td>mn.edu.kg</td>
      <td>整活用，基本不对外公开</td>
    </tr>
  </tbody>
</table>
