<h2>SSH Public Key</h2>

<div class="alert alert-primary">
  This SSH public key is used for Git commit signing and authentication.
</div>

<p>Algorithm: ssh-ed25519</p>

<p>
  Fingerprint:
  <pre><code id="fingerprint">SHA256:4LlkGj+uV8LjbOYgvmWoGna8dUtnSepaClrVkjEZWfU</code></pre>
</p>

<p>
  Public key:
  <pre><code>AAAAC3NzaC1lZDI1NTE5AAAAIEECFxVltE4iYpyD0nGM0Bz4mrJgnC5J7At2Hnoz/tk2</code></pre>
</p>

<p>Comment: hi@mcenahle.page</p>

<p style="text-align:right">Last updated: April 16th, 2026.</p>
