<h2>mcenahle.dev</h2>
<h5>从 2023 年 9 月以来，持续建设网站。</h5>
<p>这是我的开发（<b>dev</b>eloper）旅程。</p>
<div class="card" style="margin-top: 24px;">
  <div class="card-header bg-primary text-white">我是谁？</div>
  <div class="card-body">
    我是 mcenahle，喜欢代码生活，更喜欢开源软件，例如 Blender。
  </div>
</div>
<div class="card" style="margin-top: 24px;">
  <div class="card-header bg-info text-white">我会什么开发技能？</div>
  <div class="card-body">
    <div class="skills">
      <ol>
        <li>
          建模：<iconify-icon icon="skill-icons:blender-light"></iconify-icon>
          &nbsp;<a href="/projects/blender"
            ><u>建模作品展示</u>
            &nbsp;<span class="mdi--arrow-top-right"></span></a
          >
        </li>
        <li>
          代码：<iconify-icon icon="skill-icons:github-dark"
          ></iconify-icon>&nbsp;
          <iconify-icon icon="skill-icons:html"></iconify-icon>&nbsp;
          <iconify-icon icon="skill-icons:css"></iconify-icon>&nbsp;
          <iconify-icon icon="skill-icons:javascript"></iconify-icon>&nbsp;
          <iconify-icon icon="skill-icons:python-light"></iconify-icon>&nbsp;
          <iconify-icon icon="skill-icons:markdown-light"></iconify-icon>&nbsp;
          <iconify-icon icon="skill-icons:pnpm-light"></iconify-icon>
        </li>
        <li>
          网站建设：<iconify-icon icon="skill-icons:cloudflare-light"
          ></iconify-icon>
        </li>
        <li>
          操作系统：<iconify-icon icon="skill-icons:windows-light"
          ></iconify-icon>
        </li>
      </ol>
    </div>
  </div>
</div>

<style>
  .skills iconify-icon {
    font-size: 22px;
  }
</style>
