---
import BlogLayout from "../../layouts/BlogLayout.astro";

export const title = "回归最本质的博客";
export const date = "2026-07-18";
export const description = "重新设计 mcenahle.dev 的博客结构。";
---

<BlogLayout title={title} date={date} description={description}>
  <p>这里是文章正文。</p>
</BlogLayout>
