---
interface Props {
  editUrl?: string;
}

const { editUrl } = Astro.props;
---

<small class="mt-auto py-4">
  <div class="container">
    {
      editUrl && (
        <a href={editUrl} target="_blank" rel="noopener noreferrer">
          <iconify-icon icon="mdi:edit-outline" />
          &nbsp;
          <u>在 GitHub 上编辑此页</u>
        </a>
      )
    }
  </div>
</small>

<footer class="footer mt-auto py-3 bg-body-tertiary">
  <div class="container">
    <span class="text-body-secondary">
      © 2026 mcenahle.dev。
      <br />
      <iconify-icon icon="mdi:cookie-remove"></iconify-icon> 本网站不使用 Cookie。
      <small><i>We do not use cookies. <b>We eat apples instead.</b></i></small>
      <br />
      <div
        class="d-flex flex-column flex-md-row justify-content-between align-items-md-center"
      >
        <div>
          <iconify-icon icon="mdi:verified-user"></iconify-icon> 备案信息：<a
            href="https://icp.gov.moe/?keyword=20265573"
            target="_blank"
          >
            <u>萌ICP备20265573号</u>&nbsp;<iconify-icon icon="mdi:external-link"
            ></iconify-icon></a
          >
        </div>

        <div>
          <iconify-icon icon="mdi:email-outline"></iconify-icon>&nbsp;
          <a href="mailto:hi@mcenahle.page"><u>hi@mcenahle.page</u></a>
        </div>
      </div>

      <a
        href="https://qname.ai/zh/age/mcenahle.dev"
        target="_blank"
        rel="noreferrer"
      >
        <img
          src="https://qname.ai/api/badge/domain-age/mcenahle.dev?theme=green&lang=zh"
          alt="Domain age badge for mcenahle.dev"
        />
      </a></span
    >
  </div>
</footer>
